<div class='image-page' *ngIf="photosService.photo ">
  <div class='image-item'>
    <img class = 'image-item__image' src={{photosService.photo.urls.regular }} alt={{photosService.photo.description}}/>

    <div class='image-item__info'>
      <p class='image-description'>{{photosService.photo.alt_description}}</p>
      <p class='image-author'>author: {{photosService.photo.user.name}}, likes: {{photosService.photo.likes}}</p>
      <div class='image-tags'>
          <button *ngFor="let tag of photosService.photo.tags"
            class='image-tags__item'
            id={{tag.title}}
          >
            {{tag.title}}
          </button>
      </div>
      <div class='image-item__buttons'>
        <a  target='_blank' download="image.jpg" href={{photosService.photo.links.download}} class='image-button'>Download</a>
        <button  class='image-button back-button' (click)="backClicked()">Back</button>
      </div>

    </div>

  </div>
</div>
