.header
  height: 50px
  width: calc(100% - 100px)
  position: fixed
  background-color: #282c34
  margin: 0
  display: flex
  justify-content: space-between
  padding: 0 50px
  align-items: center
  z-index: 2000
  &__input
    font-size: 20px
    margin: 10px
  &__search-button
    background-color: cadetblue
    color: #fff
    border-radius: 3px
    border: none
    cursor: pointer
    font-size: 20px
    margin: 10px
    &:hover
      background-color: darkslateblue
.auth
  height: 100%
  display: flex
  justify-content: center
  align-items: center
  &__photo
    height: 40px
    width: 40px
    border-radius: 50%

