<div class='header'>
  <div>
    <input
      [(ngModel)] = 'query'
      class='header__input'
      placeholder='Type smth...'
    />
    <button

      (click)="searchClick()"
      class='header__search-button btn-search'
    >
    Search
    </button>
    <button
      class='header__search-button btn-search'
      (click)="showPopup()"
    >
      REG
    </button>
    <button
      [routerLink]="['categories-list']"
      class='header__search-button btn-search'
    >
      Collections
    </button>

  </div>
  <div class='auth' *ngIf="authService.afAuth.user | async as user; else showLogin">
    <img class="auth__photo" src="{{user.photoURL || 'assets/user-avatar-sample.png'}}" alt="avatar">
    <button class="auth__logout header__search-button" (click)="logOutClick()">logOut </button>
  </div>
  <ng-template #showLogin>
    <button class="auth__login header__search-button"
      (click)="authClick()"
      class='header__search-button'>
      Login with Google
    </button>
  </ng-template>


</div>
<app-pop-up (onClose) = "closePopup()" [showPopUp]="showPopUp">
  <app-sign-form (closePopUp) = "closePopup()" ></app-sign-form>
</app-pop-up>

